<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="img/png" href="/assets/images/Node.js_logo.svg.png">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/pages/frontend/frontpage.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.11.1/build/styles/default.min.css">
    $$CSS_LINKS$$
    
    <title>$$DOCUMENT_TITLE$$</title>
</head>
<body>
    
    <nav>
        <a href="/"><img id="logo" src="../assets/images/Node.js_logo.svg.png" alt="nodejs"></a>

        <a href="/about">About</a>

        <a href="/contact">Contact</a>
    </nav>

    <main>